[color]
        ui = auto
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
[diff]
        tool = vimdiff
[user]
	name = Pilar Gomez
	email = 678471+mpgomez@users.noreply.github.com
[core]
        editor = vim
        tespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
        excludesfile = ~/.gitignore
[push]
        default = simple
[alias]
        d = diff
        dc = diff --cached
        whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
        whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short

[commit]
	template = /home/pilar/.git-commit-template.txt
[pull]
	rebase = true
